---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<h1>Tagged <em class="highlight__stabilo">“{{ tag }}”</em></h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
