:root {
  --kanbas: rgb(253, 246, 239);
  --bughaw: rgb(34, 16, 114);
  --pula: #a70000;
  --kape: rgb(43, 15, 15);
  --dilaw: rgb(255, 175, 55);
  --puti: white;
  --itim: #010101;
  --karbon: #303030;
  --uling: #404040;
  --abo: #606060;
  --pilak: #e0e0e0;
  --usok: #909090;
  --ulap: #d0d0d0;
  --headlineFont: "Exo 2", sans-serif;
  --bodyFont: "EB Garamond", serif;
  --sysFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: var(--bodyFont), -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: var(--itim);
  font-size: 18px;
  background-color: var(--kanbas);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

pre,
code {
  line-height: 1.6;
}

a[href],
a[href]:visited {
  color: var(--itim);
  font-weight: 600;
}

a[href]:hover {
  color: var(--pula);
  text-decoration: none;
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  padding: 1em;
}

footer {
  font-size: 0.8rem;
  padding: 1em;
  text-align: center;
  background-color: white;
}

footer a {
  padding: 0 0.5rem;
}

main {
  padding: 1rem 1rem;
}

main h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  main h1 {
    padding-top: 0;
  }
}

main nav {
  max-width: 44rem;
  margin: 0 auto;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

ul {
  padding: 0 0 1rem;
  list-style-position: inside;
}

ol {
  padding-left: 0;
}

ol ul {
  list-style-type: none;
  list-style-position: inside;
}

/* Header Logo (style as h2) */
header .global-nav > em {
  display: block;
  font-size: 2em;
  margin: 0.5rem 0;
  font-weight: bold;
  font-style: normal;
}

header .global-nav > em a:hover {
  text-decoration: none;
}

/* Header Nav */
header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href] {
  font-family: var(--sysFont);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-decoration: none;
  padding-bottom: 0.2rem;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 800;
  border-bottom: 4px solid var(--dilaw);
}

/* Posts List */
main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--sysFont);
  font-size: 0.6em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border: 1px solid var(--ulap);
  background-color: var(--ulap);
  color: var(--puti);
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--ulap);
  background-color: var(--puti);
  color: var(--uling);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: -ms-grid;
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--bughaw);
  background-color: var(--bughaw);
  color: var(--puti);
  cursor: pointer;
}

/* Ulam Styles */
.whetter {
  display: block;
  font-family: var(--sysFont);
  color: var(--usok);
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

small {
  font-size: 0.8rem;
}

time {
  color: var(--usok);
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding-right: 0.5em;
}

.global-header {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  left: 0;
  width: 100%;
  z-index: 888;
  margin-top: 0;
}

.global-logo {
  display: block;
  max-width: 300px;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .global-logo {
    max-width: 320px;
  }
}

.global-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.global-nav nav {
  -ms-grid-column-align: unset;
      justify-self: unset;
}

@media screen and (min-width: 960px) {
  .global-nav {
    -ms-grid-columns: minmax(250px, 280px) 1fr;
        grid-template-columns: minmax(250px, 280px) 1fr;
    padding: 0;
  }
  .global-nav nav {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.global-nav ul {
  padding: 0;
  margin: 0;
}

.layout {
  background-color: white;
  margin: 0 auto;
}

@media only screen and (min-width: 960px) {
  .layout {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }
}

.layout-wrapper {
  padding: 1rem;
}

@media only screen and (min-width: 960px) {
  .layout-wrapper {
    padding: 2rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-column {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-column__half {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-column__third {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-Home {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-Home .section-Videos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  position: relative;
  padding: 0 2rem;
}

.grid-Home .section-Videos .videosGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid-Home .section-Videos .videosGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.grid-Home .section-Videos h2 {
  text-align: center;
}

.grid .section-Blog {
  position: relative;
}

.grid .section-Blog:after {
  content: "";
  width: 4rem;
  height: 0.4rem;
  background-color: var(--dilaw);
  position: absolute;
  left: calc(50% - 2rem);
  bottom: -0.5rem;
}

.grid .section-Blog .blogGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .grid .section-Blog .blogGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.grid.single-column {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-gap__normal {
  grid-gap: 1.5rem;
}

section {
  padding: 1rem 0;
}

section.section-Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  section.section-Intro {
    text-align: center;
    padding: 2rem 2rem 3rem;
  }
}

section.section-Intro::after {
  content: "";
  width: 4rem;
  height: 0.4rem;
  background-color: var(--dilaw);
  position: absolute;
  left: calc(50% - 2rem);
  top: 2rem;
}

section.section-Intro h2 {
  font-family: var(--bodyFont);
  color: var(--kape);
  letter-spacing: -0.02rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 auto;
  text-transform: unset;
}

@media screen and (min-width: 768px) {
  section.section-Intro h2 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 960px) {
  section.section-Intro h2 {
    font-size: 2.7rem;
  }
}

section.section-Intro p {
  font-size: 1.2rem;
  margin: 0 auto;
  color: var(--uling);
  max-width: 40em;
}

@media screen and (min-width: 768px) {
  section.section-Intro p {
    font-size: 1.3rem;
  }
}

section h2 {
  font-family: var(--headlineFont);
  color: var(--kape);
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: 1.15rem;
  padding: 1rem 0;
}

article section {
  padding-top: 0;
}

article section p:nth-child(2):first-letter {
  color: var(--pula);
  float: left;
  font-family: var(--headlineFont);
  font-size: 4rem;
  line-height: 60px;
  padding-top: 2px;
  padding-right: 0.5rem;
  padding-left: 0;
}

article h1 {
  color: black;
  font-size: 3rem;
  margin-bottom: 1rem;
}

article h2 {
  margin: 2rem 0 1rem;
}

article p {
  padding: 0.5rem 0;
}

article p,
article ul,
article ol {
  font-size: 1.12rem;
}

@media screen and (min-width: 768px) {
  article p,
  article ul,
  article ol {
    font-size: 1.25rem;
  }
}

article > ul {
  list-style-type: disc;
}

article li {
  padding-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.article-post-wrapper {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 960px) {
  .article-post-wrapper {
    -ms-grid-columns: 4fr 1.5fr;
        grid-template-columns: 4fr 1.5fr;
    padding: 1rem;
    grid-column-gap: 2rem;
    width: 100%;
    margin: 0 auto;
  }
}

.article-post h1 {
  text-align: left;
  letter-spacing: -0.01rem;
}

.article-post .billboard {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post .video-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post header {
  padding: 1rem 1rem 0;
}

@media screen and (min-width: 960px) {
  .article-post header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding: 0 3rem;
  }
}

.article-post section {
  padding: 0 1rem;
}

@media screen and (min-width: 960px) {
  .article-post section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding: 0 3rem;
  }
}

.article-post aside {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 2rem;
  line-height: 1.5;
  position: relative;
}

@media screen and (min-width: 960px) {
  .article-post aside {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin-top: 1rem;
  }
}

.article-post aside .aside-wrapper {
  border-left: none;
  margin: 0 1rem;
  border-top: 1px solid rgba(48, 0, 0, 0.1);
  padding-top: 1rem;
}

@media screen and (min-width: 960px) {
  .article-post aside .aside-wrapper {
    border: none;
    border-left: 1px solid rgba(48, 0, 0, 0.1);
    margin: 0;
    padding: .5rem 1rem;
  }
}

.article-post aside .aside-wrapper img {
  margin-bottom: 0;
}

.article-post aside h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  .article-post aside h4 {
    margin-top: 0;
  }
}

.article-post aside p {
  font-size: 0.85rem;
}

.article-post .tags {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post img {
  margin: 1rem auto;
}

.article-post figure {
  margin: 1rem auto;
}

.article-post figure img {
  margin-bottom: 0.5rem;
}

.article-post figure figcaption {
  font-family: var(--sysFont);
  font-size: 0.8rem;
  color: var(--uling);
}

.article-post h2 {
  font-size: 1.3em;
  font-weight: 500;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .article-post h2 {
    font-size: 1.7em;
    padding-top: 1.5rem;
    padding-bottom: .25rem;
  }
}

.article-post h3 {
  color: var(--kape);
  font-family: var(--headlineFont);
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: 1.15rem;
  padding: 2rem 0 1rem;
}

.article-post h2,
.article-post h3,
.article-post p,
.article-post ol,
.article-post ul {
  max-width: 40rem;
  margin: 0 auto;
}

.article-post header {
  border-bottom: none;
}

.article-post header h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 48rem;
  margin: 0 auto;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .article-post header h1 {
    font-size: 2.7rem;
    line-height: 1.2;
    margin: 1rem auto 0 0;
  }
}

.article-post header.pamilya h1 {
  margin-left: 0;
}

.article-post header p {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  color: var(--kape);
}

.liner {
  position: relative;
}

.liner::before {
  content: "";
  width: 3rem;
  height: 0.5rem;
  background-color: var(--dilaw);
  position: absolute;
  top: -1.25rem;
  left: 0;
}

.article-post__narrow {
  max-width: 40em;
}

.article-card {
  background-color: white;
}

.article-card__cover {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article-card__copy {
  padding: 0.5rem 0 1rem;
}

.article-card__copy h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .article-card__copy h3 {
    font-size: 1.5rem;
  }
}

.article-card__copy p {
  font-family: var(--bodyFont);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--abo);
}

@media screen and (min-width: 768px) {
  .article-card__copy p {
    font-size: 1.1rem;
  }
}

.spotlight {
  padding-top: 0;
}

.spotlight .article-card__cover {
  background-repeat: no-repeat;
  background-position: center -140px;
  background-size: cover;
  width: 100%;
  min-height: 440px;
}

.spotlight .article-card__copy {
  padding: 1rem 1.5rem;
  margin: -235px 4% 0;
  background-color: rgba(253, 246, 239, 0.8);
}

@media screen and (min-width: 768px) {
  .spotlight .article-card__copy {
    padding: 1rem 2.4rem;
    width: 90%;
    margin: -170px 5% 0;
  }
}

@media screen and (min-width: 960px) {
  .spotlight .article-card__copy {
    padding: 1rem 2.4rem;
    width: 80%;
    margin: -75px 10% 0;
    background-color: rgba(253, 246, 239, 0.8);
  }
}

.spotlight .article-card__copy h3 {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .spotlight .article-card__copy h3 {
    font-size: 2.2rem;
  }
}

.spotlight .article-card__copy p {
  font-size: 1.2rem;
  color: var(--karbon);
}

@media screen and (min-width: 768px) {
  .spotlight .article-card__copy p {
    font-size: 1.3rem;
    margin-top: 0.75rem;
  }
}

.spotlight .article-card__copy .article-card__cta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  background-color: var(--dilaw);
  padding: 0.2rem 0.5rem 0.3rem 0.2rem;
  margin-top: 0.7rem;
}

.spotlight .article-card__copy .article-card__cta:hover {
  background-color: var(--pula);
}

.spotlight .article-card__copy .article-card__cta span {
  color: white;
  margin-left: 0.2em;
}

.spotlight .whetter {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .tags {
    padding-top: 2rem;
  }
}

.contact-form {
  padding-top: 3rem;
}

.highlight__stabilo {
  font-weight: 800;
  color: #300000;
  background-color: blanchedalmond;
  font-style: normal;
}

.article-post section > p:first-of-type {
  color: var(--uling);
  font-size: 1.25rem;
  max-width: none;
  padding: 1rem 1rem 1.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(48, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .article-post section > p:first-of-type {
    font-size: 1.5rem;
  }
}

.billboard {
  display: block;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.billboard img {
  margin-top: 0;
}

.glossary-list {
  border-top: 1px solid rgba(48, 0, 0, 0.1);
}

.glossary-list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 1rem;
  list-style-type: none;
  padding: 1.5rem 0.5rem;
}

.glossary-list ul li {
  line-height: 1.6;
}

.glossary-list ul li a {
  display: block;
}

.glossary-list ul li h2 {
  font-family: var(--bodyFont);
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 0;
}

.glossary-list ul a {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-nav {
  margin: 3rem 0;
}

.footer-nav a[href],
.footer-nav a[href]:visited {
  color: var(--dilaw);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
}

.footer-nav a[href]:hover,
.footer-nav a[href]:visited:hover {
  background-color: white;
}

.article-meta {
  padding: 1rem;
}

@media screen and (min-width: 960px) {
  .article-meta {
    margin-top: 2.5rem;
  }
}

.article-meta .liner {
  max-width: 40rem;
  margin: 0 auto;
}

.article-meta .liner::before {
  width: 3rem;
  height: 0.5rem;
}

.article-meta .goto {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid rgba(48, 0, 0, 0.1);
}

.billboard.video-box {
  min-height: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.billboard iframe {
  width: 100%;
  height: 100%;
}

.Cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .Cols--reverse > *:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .Cols--half {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .Cols--one-third {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .Col--pull {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 960px) {
  .Cols--gap {
    grid-row-gap: units(2);
    grid-column-gap: units(2);
  }
}
