:root {
  --kanbas: rgb(253, 246, 239);
  --bughaw: rgb(34, 16, 114);
  --pula: #c40000;
  --kape: rgb(43, 15, 15);
  --dilaw: rgb(255, 175, 55);
  --puti: white;
  --itim: #101010;
  --uling: #303030;
  --abo: #606060;
  --pilak: #e0e0e0;
  --usok: #808080;
  --headlineFont: "EB Garamond", serif;
  --bodyFont: "EB Garamond", serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: var(--bodyFont), -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: var(--itim);
  font-size: 18px;
  background-color: var(--kanbas);
  line-height: 1.4;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

pre,
code {
  line-height: 1.6;
}

a[href],
a[href]:visited {
  color: var(--itim);
}

a[href]:hover {
  color: var(--pula);
  text-decoration: none;
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  padding: 1em;
}

footer {
  padding: 3rem 1em;
  margin-top: 3rem;
  text-align: center;
  border-top: 1px solid var(--pilak);
}

main {
  padding: 0 1rem;
}

main h1 {
  font-size: 3.2rem;
  padding-top: 2rem;
}

main nav {
  max-width: 44rem;
  margin: 0 auto;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

figure {
  margin: 0;
}

ul {
  padding: 0 0 1rem;
  list-style: none;
  list-style-position: inside;
}

ol {
  padding-left: 0;
}

/* Header Logo (style as h2) */
header .global-nav > em {
  display: block;
  font-size: 2em;
  margin: 0.5rem 0;
  font-weight: bold;
  font-style: normal;
}

header .global-nav > em a:hover {
  text-decoration: none;
}

/* Header Nav */
header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href] {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 800;
  border-bottom: 4px solid var(--dilaw);
}

/* Posts List */
article {
  margin-bottom: 1em;
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.64em;
  font-weight: 600;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--pilak);
  background-color: var(--puti);
  color: var(--abo);
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--abo);
  background-color: var(--abo);
  color: var(--puti);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: -ms-grid;
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--bughaw);
  background-color: var(--bughaw);
  color: var(--puti);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

/* Ulam Styles */
.whetter {
  color: var(--usok);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

time {
  color: var(--usok);
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding-right: 0.5em;
}

header {
  border-bottom: 1px solid var(--pilak);
}

.logo {
  max-width: 64vw;
  padding-top: 1rem;
}

.global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-column__half {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-column__third {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-Home {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 3rem;
}

.grid-Home .section-Videos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.grid.single-column {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-gap__normal {
  grid-gap: 1.5rem;
}

section {
  padding: 1em 0;
}

section.section-Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto 3rem;
  padding: 3rem 0;
  position: relative;
}

section.section-Intro::after {
  content: "";
  width: 4rem;
  height: 1rem;
  background-color: var(--dilaw);
  position: absolute;
  left: calc(50% - 2rem);
  bottom: 0;
}

section.section-Intro h2 {
  color: var(--kape);
  font-family: var(--headlineFont);
  letter-spacing: -0.04rem;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: unset;
}

section.section-Intro p {
  font-size: 1.4rem;
  margin: 0 auto;
  color: var(--uling);
  max-width: 40em;
}

section h2 {
  color: var(--usok);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

article h1 {
  font-family: var(--headlineFont);
  color: black;
  font-size: 3rem;
  margin-bottom: 1rem;
}

article h2 {
  margin: 2rem 0 1rem;
}

article p {
  padding: 0.5rem 0 1rem;
}

article p,
article ul,
article ol {
  font-size: 1.3rem;
}

article > ul {
  list-style-type: disc;
}

article li {
  padding-bottom: 0.75rem;
}

.article-post {
  -ms-grid-columns: 4fr 1.5fr;
      grid-template-columns: 4fr 1.5fr;
  grid-column-gap: 2rem;
}

.article-post .billboard,
.article-post header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post .video-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post aside {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 2rem;
  position: relative;
}

.article-post aside:after {
  content: "";
  width: 4rem;
  height: 0.5rem;
  background-color: var(--dilaw);
  position: absolute;
  top: -1.5rem;
  left: 0;
}

.article-post aside h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.article-post aside p {
  font-size: 0.85rem;
}

.article-post .tags {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.article-post img {
  margin: 1.5rem auto;
}

.article-post h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 3rem;
}

.article-post h3 {
  font-size: 1.4rem;
  padding: 3rem 0 1rem;
}

.article-post h2,
.article-post h3,
.article-post p,
.article-post ol,
.article-post ul {
  max-width: 40rem;
  margin: 0 auto;
}

.article-post header {
  border-bottom: none;
  padding: 2rem 0 0;
}

.article-post header h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 auto 0 4rem;
  max-width: 48rem;
}

.article-post header p {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: var(--kape);
}

.article-post__narrow {
  max-width: 40em;
}

.article-card {
  background-color: white;
  border-radius: 0.5rem;
}

.article-card__cover {
  overflow: hidden;
  max-height: 215px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.article-card__copy {
  padding: 1.5rem;
}

.article-card__copy h3 {
  font-family: var(--headlineFont);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

.article-card__copy p {
  font-family: var(--bodyFont);
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
  color: var(--abo);
}

.tags {
  padding-top: 2rem;
}

.contact-form {
  padding-top: 3rem;
}

.highlight__stabilo {
  font-weight: 800;
  color: #300000;
  background-color: blanchedalmond;
  font-style: normal;
}

.article-post section > p:first-of-type {
  font-size: 1.6rem;
}

.billboard {
  display: block;
  overflow: hidden;
  max-height: 64vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.billboard img {
  margin-top: 0;
}

.glossary-list a {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

.footer-nav a[href],
.footer-nav a[href]:visited {
  color: var(--dilaw);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  border: 0.15rem solid var(--dilaw);
  border-radius: .5rem;
  padding: 1rem;
}

.footer-nav a[href]:hover,
.footer-nav a[href]:visited:hover {
  color: white;
  background-color: var(--dilaw);
}

.video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-box iframe {
  max-width: 100%;
  width: 100%;
}
