<footer>
  <p>
    Copyright © 2019 <a href="https://www.ulampinoy.com">Ulampinoy Atbp.</a> | 
    <a href="https://www.instagram.com/ulampinoy/">Instagram</a> | 
    <a href="/glossary/">Glossary</a> | 
    <a href="https://teespring.com/stores/ulampinoy" target="_blank">Get the Merch</a> | 
  </p>
</footer>
