<footer>
  <p>
    Copyright © 2024 <a href="https://www.ulampinoy.com">Ulampinoy Atbp.</a> |
    <a href="https://www.instagram.com/ulampinoy/">Instagram</a> |
    <a href="/glossary/">Glossary</a> |
    <a href="https://teespring.com/stores/ulampinoy" target="_blank">Get the Merch</a> |
    <a href="/search/" target="_blank">Search 🔍</a>
  </p>
</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24666876-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-24666876-1', { 'optimize_id': 'GTM-K9VMSH8' });
</script>


