<div class="layout-wrapper">
	<h1>{{ title }}</h1>

	<section class="glossary-list">
		<ul>
			{% for post in glossarylist | reverse  %}
			<li{% if post.url == url %} data-current="current item" {% endif %}>
				<div class="glossaryText">
					<h2>
						{% if post.data.title %}
						<a href="{{ post.url | url }}">
							{{ post.data.title }}
						</a>
						{% endif %}
					</h2>
					{% if post.data.description %}
					<p>
						{{ post.data.description }}
					</p>
					{% endif %}
				</div>
				{% if post.data.coverImage %}
				<div class="glossaryThumb">
					<img src="{{ post.data.coverImage }}" alt="">
				</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</section>
</div>