<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lte IE 6]></base><![endif]-->
  <title>UlamPinoy—Official Website: ulampinoy.com</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="description"
    content="UlamPinoy: Our official website provides home-cooked recipes, cooking videos, and our food blog. It shows our journey with making homecooked meals.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,600,700|Exo+2:600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  {% set css %}
  {% include "assets/css/inline.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</head>