<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24666876-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24666876-1', { 'optimize_id': 'GTM-K9VMSH8'});
</script>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,600,700|Exo+2:600&display=swap" rel="stylesheet">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
