<nav>
  <ul>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"
        {% if nav.url == page.url %} data-current="current item" class="active"{% endif %}>
        {{ nav.data.navtitle }}
      </a>
    </li>
  {%- endfor -%}
    <li>
        <a href="https://teespring.com/stores/ulampinoy" target="_blank">Store</a>
    </li>
  </ul>
</nav>
