<div class="layout-wrapper">
	<h1>{{ title }}</h1>
	<div class="Cols Cols--half grid-gap__normal">
		{% for post in collections.posts | reverse %}
		<article{% if post.url == url %} data-current="current item" {% endif %} class="article-card">
			<div class="article-card__cover">
				<a href="{{ post.url | url }}">
					<img src="{{ post.data.coverImage }}?nf_resize=fit&w=800" />
				</a>
			</div>
			<div class="article-card__copy">
				<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
				<p>{{ post.data.description }}</p>
			</div>
			</article>
			{% endfor %}
			<article>
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-6j+cz-2t-3z+ma"
					data-ad-client="ca-pub-9964697758880128" data-ad-slot="2660829267"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</article>
	</div>
</div>
