<div class="videoList layout-wrapper">
	<h1>{{ title }}</h1>
	<section class="spotlight">
		<div class="Cols grid-gap__normal">
			{% set videolist = collections.video | reverse %}
			{% for post in videolist.slice(0, 1) %}
			<article{% if post.url == url %} data-current="current item" {% endif %} class="article-card">
				<a href="{{ post.url | url }}">
					<div class="article-card__cover" style="background-image: url({{ post.data.coverImage }})"></div>
				</a>
				<div class="article-card__copy">
					<h3>
						<a href="{{ post.url | url }}">{{ post.data.title }}</a>
					</h3>
					<p>{{ post.data.description }}</p>

				</div>
				</article>
				{% endfor %}
		</div>
	</section>
	<div class="Cols Cols--one-third grid-gap__wide">
		{% set videolist = collections.video | reverse %}
		{% for post in videolist.slice(1, 55) %}

		<article{% if post.url == url %} data-current="current item" {% endif %} class="article-card">
			<div class="article-card__cover">
				<a href="{{ post.url | url }}">
					<img src="{{ post.data.coverImage }}" />
				</a>
			</div>
			<div class="article-card__copy">
				<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
				<p>{{ post.data.description }}</p>
			</div>
			</article>
			{% endfor %}
	</div>
</div>