:root {
  --kanbas: rgb(253, 246, 239);
  --bughaw: rgb(34, 16, 114);
  --pula: #a70000;
  --kape: rgb(43, 15, 15);
  --dilaw: rgb(255, 175, 55);
  --puti: white;
  --itim: #010101;
  --karbon: #303030;
  --uling: #404040;
  --abo: #606060;
  --pilak: #e0e0e0;
  --usok: #909090;
  --ulap: #d0d0d0;
  --headlineFont: "Ubuntu", sans-serif;
  --bodyFont: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;
  --sysFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--bodyFont);
  color: var(--itim);
  font-size: 18px;
  background-color: var(--kanbas);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  line-break: strict;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

  &.video {
    aside {
      margin-top: 3rem;
    }
  }
}

pre,
code {
  line-height: 1.6;
}

a[href],
a[href]:visited {
  color: var(--itim);
  font-weight: 500;
}

a[href]:hover {
  color: var(--pula);
  text-decoration: none;
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  padding: 1em;
}

footer {
  font-size: 0.8rem;
  padding: 0.5em 1em 1.5em;
  text-align: center;

  a {
    padding: 0 0.5rem;
  }
}

.home {
  main {
    padding-top: 0;
  }
}

main {
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 1rem 0;
  }

  h1 {
    color: var(--abo);
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    padding-top: 1rem;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
      padding-top: 0;
      margin-bottom: 2rem;
    }
  }

  nav {
    max-width: 44rem;
    margin: 0 auto;
  }
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

ul {
  padding: 0 0 1rem;
}

ol {
  padding-left: 0;

  ul {
    list-style-type: none;
  }
}

/* Header Logo (style as h2) */
header .global-nav > em {
  display: block;
  font-size: 2em;
  margin: 0.5rem 0;
  font-weight: bold;
  font-style: normal;
}

header .global-nav > em a:hover {
  text-decoration: none;
}

/* Header Nav */
header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.5em;
}

header nav li a[href] {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-decoration: none;
  padding-bottom: 0.2rem;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  font-weight: 800;
  border-bottom: 4px solid var(--dilaw);
}

/* Posts List */

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--sysFont);
  font-size: 0.6em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border: 1px solid var(--ulap);
  background-color: var(--ulap);
  color: var(--puti);
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--ulap);
  background-color: var(--puti);
  color: var(--uling);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--bughaw);
  background-color: var(--bughaw);
  color: var(--puti);
  cursor: pointer;
}

/* Ulam Styles */
.whetter {
  display: block;
  color: var(--usok);
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

small {
  font-size: 0.8rem;
}

time {
  color: var(--usok);
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding-right: 0.5em;
}

.global-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  left: 0;
  width: 100%;
  z-index: 888;
  margin-top: 0;
}

.global-logo {
  display: block;
  max-width: 300px;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    max-width: 320px;
  }
}

.global-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0 1rem;

  nav {
    justify-self: unset;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: minmax(250px, 280px) 1fr;
    padding: 0;

    nav {
      justify-self: end;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.layout {
  background-color: white;
  margin: 0 auto;

  @media only screen and (min-width: 960px) {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }

  &-wrapper {
    padding: 1rem;
    @media only screen and (min-width: 960px) {
      padding: 3rem 4rem;
    }
  }
}

.grid {
  display: grid;

  &-column {
    grid-template-columns: 1fr;
  }

  &-column__half {
    grid-template-columns: repeat(2, 1fr);
  }

  &-column__third {
    grid-template-columns: repeat(3, 1fr);
  }

  &-Home {
    grid-template-columns: 1fr;

    .section-Videos {
      grid-column: 1 / 3;
      position: relative;
      padding: 0 1rem;

      @media screen and (min-width: 768px) {
        padding: 0 3rem;
      }

      .videosGrid {
        display: grid;
        grid-gap: 1.5rem;

        @media screen and (min-width: 768px) {
          grid-template-columns: 1fr 1fr;
          grid-gap: 2rem;
        }
      }

      h2 {
        text-align: center;
      }
    }
  }

  .section-Blog {
    position: relative;

    &:after {
      content: "";
      width: 4rem;
      height: 0.4rem;
      background-color: var(--dilaw);
      position: absolute;
      left: calc(50% - 2rem);
      bottom: -0.5rem;
    }

    .blogGrid {
      display: grid;
      grid-gap: 2rem;
      padding: 0 1rem;

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
      }

      @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem 2rem;
      }
    }
  }

  &.single-column {
    grid-template-columns: 1fr;
  }

  &-gap {
    &__normal {
      grid-gap: 1.5rem;
    }
    &__wide {
      grid-gap: 2rem;
    }
  }
}

section {
  padding: 1rem 0;

  &.section-Intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    position: relative;
    padding: 1rem 0;

    @media screen and (min-width: 768px) {
      text-align: center;
      padding: 4rem 0 0;
    }

    &::after {
      content: "";
      width: 4rem;
      height: 0.4rem;
      background-color: var(--dilaw);
      position: absolute;
      left: 1rem;
      top: 1rem;

      @media screen and (min-width: 768px) {
        top: 2rem;
        left: 3rem;
      }

      @media screen and (min-width: 960px) {
        top: 4rem;
      }
    }

    h2 {
      font-family: var(--bodyFont);
      color: var(--kape);
      letter-spacing: -0.02rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3;
      margin: 0 auto;
      text-transform: unset;

      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 960px) {
        font-size: 2.7rem;
      }
    }

    p {
      font-size: 1.2rem;
      margin: 0 auto;
      color: var(--uling);
      max-width: 40em;

      @media screen and (min-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  h2 {
    font-family: var(--headlineFont);
    color: var(--kape);
    font-weight: 700;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    font-size: 1.15rem;
    padding: 1rem 0;
  }

  .bottomBillboard {
    margin-top: 0;
    line-height: 0;
    position: relative;
    min-height: 440px;

    @media screen and (min-width: 768px) {
      min-height: 640px;
    }

    &-image {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;

      @media screen and (min-width: 768px) {
        position: absolute;
        height: 100%;
      }

      &SW {
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }

    &-content {
      position: absolute;
      top: 0;
      z-index: 1;
      text-align: left;
      padding: 1rem;

      @media screen and (min-width: 768px) {
        padding: 0 3rem;
        margin: 2rem auto 0;
        width: 100%;
      }

      @media screen and (min-width: 960px) {
        margin: 4rem auto 0;
        width: 80%;
      }
    }
  }
}

article {
  section {
    padding-top: 0;

    p:nth-child(2) {
      &:first-letter {
        color: var(--pula);
        float: left;
        font-family: var(--headlineFont);
        font-size: 4rem;
        line-height: 60px;
        padding-top: 2px;
        padding-right: 0.5rem;
        padding-left: 0;
      }
    }
  }

  h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin: 2rem 0 1rem;
  }

  p {
    padding: 0.5rem 0;
  }

  p,
  ul,
  ol {
    font-size: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.15rem;
    }
  }

  & > ul {
    list-style-type: disc;
  }

  ul {
    li {
      margin-top: 0.5rem;

      em {
        color: #606060;
      }

      img {
        margin-top: 1.5rem;
      }
    }
  }

  ol {
    li {
      margin-top: 1rem;
    }
  }
}

.text-center {
  text-align: center;
}

.article-post {
  &-wrapper {
    grid-template-columns: 1fr;

    @media screen and (min-width: 960px) {
      grid-template-columns: 4fr 1.7fr;
      padding: 1rem;
      grid-column-gap: 2rem;
      width: 100%;
      margin: 0 auto;
    }
  }

  h1 {
    text-align: left;
    letter-spacing: -0.01rem;
  }

  .billboard {
    grid-column: 1 / 3;
  }

  .video-box {
    grid-column: 1 / 3;
  }

  header {
    padding: 1rem 1rem 0;

    @media screen and (min-width: 768px) {
      padding: 0 2rem;
    }

    @media screen and (min-width: 960px) {
      grid-column: 1 / 2;
      padding: 0 3rem;
    }
  }

  section {
    padding: 0 1rem;

    @media screen and (min-width: 768px) {
      padding: 0 2rem;
    }

    @media screen and (min-width: 960px) {
      grid-column: 1 / 2;
      padding: 0 3rem;
    }

    ul,
    ol {
      margin-left: 1.25rem;
      margin-bottom: 1rem;
      margin-top: 0.75rem;
    }
  }

  aside {
    margin-top: 2rem;
    line-height: 1.6;
    position: relative;

    @media screen and (min-width: 960px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      margin-top: 1rem;
    }

    .aside-wrapper {
      border-left: none;
      padding: 1rem;

      @media screen and (min-width: 768px) {
        padding: 1rem 2rem;
      }

      @media screen and (min-width: 960px) {
        border: none;
        border-left: 1px solid rgba(48, 0, 0, 0.1);
        margin: 0;
        padding: 0.5rem 1rem;
      }

      img {
        margin-bottom: 2rem;
      }
    }

    h4 {
      font-family: var(--headlineFont), sans-serif;
      color: var(--uling);
      margin-top: 0.5rem;
      margin-bottom: 0;
      text-transform: uppercase;

      @media screen and (min-width: 960px) {
        margin-top: 0;
      }
    }

    p {
      font-size: 0.85rem;
    }
  }

  .tags {
    grid-column: 1 / 3;
  }

  img {
    margin: 1rem auto;
  }

  figure {
    margin: 1rem auto;

    img {
      margin-bottom: 0.5rem;
    }

    figcaption {
      font-family: var(--sysFont);
      font-size: 0.8rem;
      color: var(--uling);
    }
  }

  h2 {
    color: var(--uling);
    font-size: 1.3em;
    font-weight: 500;
    padding: 1rem 0 0.5rem;

    @media screen and (min-width: 768px) {
      font-size: 1.7em;
      padding-top: 1.5rem;
    }
  }

  h3 {
    color: var(--kape);
    font-family: var(--headlineFont);
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    font-size: 1.15rem;
    padding: 2rem 0 1rem;
  }

  h2,
  h3,
  p,
  ol,
  ul {
    max-width: 40rem;
    margin: 0 auto;
  }

  header {
    border-bottom: none;

    h1 {
      font-family: var(--headlineFont);
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      max-width: 48rem;
      margin: 0 auto;
      padding-top: 0;

      @media screen and (min-width: 768px) {
        font-size: 2.7rem;
        line-height: 1.2;
        margin: 1rem auto 0 0;
      }
    }

    &.pamilya {
      padding-top: 2rem;
    }

    p {
      font-size: 1.8rem;
      margin-top: 0.5rem;
      color: var(--kape);
    }
  }
}

.liner {
  position: relative;
  &::before {
    content: "";
    width: 3rem;
    height: 0.5rem;
    background-color: var(--dilaw);
    position: absolute;
    top: -1.25rem;
    left: 0;
  }
}

.article-post__narrow {
  max-width: 40em;
}

.article-card {
  background-color: white;
}

.article-card__cover {
  overflow: hidden;
  box-sizing: border-box;
}

.article-card__copy {
  padding: 0.5rem 0 1rem;

  h3 {
    font-family: var(--headlineFont);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    line-height: 1.2;
    margin: 0;

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }
  }

  p {
    font-family: var(--bodyFont);
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--abo);

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }
}

.videoList {
  .spotlight {
    .article-card__cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      min-height: 240px;

      @media screen and (min-width: 768px) {
        min-height: 300px;
      }

      @media screen and (min-width: 960px) {
        min-height: 400px;
      }
    }
    .article-card__copy {
      padding: 1rem 1.5rem;
      margin: 0;
      background-color: rgba(253, 246, 239, 0.8);

      @media screen and (min-width: 768px) {
        padding: 1rem 2.4rem;
        width: 90%;
        margin: -170px 5% 0;
      }
      @media screen and (min-width: 960px) {
        padding: 1rem 2rem;
        width: 100%;
        margin: 0;
        background-color: rgba(253, 246, 239, 0.8);
      }

      p {
        margin-top: 0;
      }
    }
  }
}

.spotlight {
  padding-top: 0;
  margin-bottom: 0;

  .article-card__cover {
    background-repeat: no-repeat;
    background-position: center -140px;
    background-size: cover;
    width: 100%;
    min-height: 440px;
  }

  .article-card__copy {
    padding: 1rem 1.5rem;
    margin: -235px 4% 0;
    background-color: rgba(253, 246, 239, 0.8);

    @media screen and (min-width: 768px) {
      padding: 1rem 2.4rem;
      width: 90%;
      margin: -140px 5% 0;
    }
    @media screen and (min-width: 960px) {
      padding: 1rem 2.4rem;
      width: 80%;
      margin: -75px 10% 0;
      background-color: rgba(253, 246, 239, 0.8);
    }

    h3 {
      font-size: 1.6rem;

      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.1rem;
      color: var(--karbon);

      @media screen and (min-width: 768px) {
        font-size: 1.2rem;
        margin-top: 0.75rem;
      }
    }

    .article-card__cta {
      display: inline-flex;
      align-items: center;
      font-size: 1.3rem;
      background-color: var(--dilaw);
      padding: 0.2rem 0.7rem 0.3rem 0.2rem;
      margin-top: 0.7rem;

      &:hover {
        background-color: var(--pula);
      }

      span {
        color: white;
        margin-left: 0.2em;
      }
    }
  }

  .whetter {
    font-size: 0.8rem;
  }
}

.tags {
  @media screen and (min-width: 768px) {
    padding-top: 2rem;
  }
}

#contact-us.contact-form {
  padding: 3rem 0;

  button {
    font-weight: 500;
  }
}

.highlight__stabilo {
  font-weight: 800;
  color: rgb(48, 0, 0);
  background-color: blanchedalmond;
  font-style: normal;
}

.article-post section > p:first-of-type {
  color: var(--abo);
  font-size: 1.2rem;
  max-width: none;
  padding: 1rem 1rem 1.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(48, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.billboard {
  display: block;
  overflow: hidden;
  object-fit: cover;
  img {
    margin-top: 0;
  }
}

.glossary-list {
  border-top: 1px solid rgba(48, 0, 0, 0.1);

  ul {
    column-count: 1;
    column-gap: 1rem;
    list-style-type: none;
    padding: 0;

    @media screen and (min-width: 768px) {
      column-count: 3;
      column-gap: 3rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.6;
      border-bottom: 1px solid #eee;
      padding: 0.75rem 0;

      img {
        width: 90px;
      }

      a {
        display: block;
      }

      h2 {
        font-family: var(--bodyFont);
        font-size: 1.1rem;
        text-transform: capitalize;
        padding: 0;
        margin-bottom: 0;
      }
    }

    a {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.glossary {
  .article-meta {
    padding: 1rem 0;
  }
}

.footer-nav {
  margin: 3rem 0;

  a[href],
  a[href]:visited {
    color: var(--dilaw);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;

    &:hover {
      background-color: white;
    }
  }
}

.article-meta {
  padding: 1rem;

  @media screen and (min-width: 960px) {
    margin-top: 2.5rem;
  }

  .liner {
    max-width: 40rem;
    margin: 0 auto;
    &::before {
      width: 3rem;
      height: 0.5rem;
    }
  }

  .goto {
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(48, 0, 0, 0.1);
  }
}

.billboard {
  &.video-box {
    min-height: 480px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.Cols {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .Cols--reverse {
    > *:first-child {
      order: 2;
    }
  }
  .Cols--half {
    grid-template-columns: 1fr 1fr;
  }
  .Cols--one-third {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Col--pull {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 960px) {
  .Cols--gap {
    grid-row-gap: units(2);
    grid-column-gap: units(2);
  }
}
.postAdvert {
  margin: 3rem 0 2rem;
}