---
layout: layouts/base.njk
section: home
---

<article class="article-post article-post__narrow">
    <header class="pamilya">
        <h1>👨🏻👩🏻👧🏻👦🏻</h1>
        <p>Kami ay pamilyang Filipino na kasalukuyang naninirahan sa España. Family project namin ang Ulampinoy Atbp.</p>
    </header>
    <section>
        {{ layoutContent | safe }}
        {% include "components/form.njk" %}
    </section>
</article
