<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header>
			<div class="layout">
				<div class="global-nav">
					<a href="{{ '/' | url }}">
						<img class="logo" src="/static/images/logo.svg" alt="{{ metadata.title }}" />
					</a>
					{% include "components/nav.njk" %}
				</div>
			</div>
		</header>
		<main>
			<div class="layout">
				{{ layoutContent | safe }}
			</div>
		</main>
		{% include "components/footer.njk" %}
	</body>

</html>
