---
layout: layouts/base.njk
section: glossary
---
{% if coverImage %}
  <div class="billboard">
    <img src="{{ coverImage }}" />
  </div>
  {% endif %}
<article class="article-post">
  <header class="article-header">
    <h1>{{ title }}</h1>
  </header>
    {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "glossary" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/glossary/' | url }}">← {{ section | title }} index</a>
</nav>
