---
layout: layouts/base.njk
section: home
---

<div class="grid grid-Home">
	<section class="section-Blog">
		<div class="Cols blogGrid">
			{% set postlist = collections.posts | reverse %}
			{% for post in postlist.slice(0, 6) %}
			<article{% if post.url == url %} data-current="current item" {% endif %} class="article-card">
				<div class="article-card__cover">
					<a href="
						{% if post.data.link %}
						{{ post.data.link }}
						{% else %}
						{{ post.url }}
						{% endif %}
						">
						<img class="cover-image" src="{{ post.data.coverImage }}?nf_resize=fit&h=255" />
					</a>
				</div>
				<div class="article-card__copy">
					<span class="whetter">{{ post.data.whetter }}</span>
					<h3>
						<a href="
						{% if post.data.link %}
						{{ post.data.link }}
						{% else %}
						{{ post.url }}
						{% endif %}
						">{{ post.data.title }}
						</a>
					</h3>
					<p>{{ post.data.description }}</p>
				</div>
				</article>
				{% endfor %}
				<p><a href="/blog/">See more Blog &rArr;</a>
				</p>
		</div>
	</section>

	<section class="section-Videos">
		<h2>📽️ Cook-along Video Recipes</h2>
		<div class="Cols videosGrid">
			{% set videolist = collections.video | reverse %}
			{% for post in videolist.slice(1, 7) %}
			<article{% if post.url == url %} data-current="current item" {% endif %} class="article-card">
				<div class="article-card__cover">
					<a href="{{ post.url | url }}">
						<img src="{{ post.data.coverImage }}?nf_resize=fit&h=640" />
					</a>
				</div>
				<div class="article-card__copy">
					<h3>
						<a href="{{ post.url | url }}">{{ post.data.title }}</a>
					</h3>
					<p>{{ post.data.description }}</p>
				</div>
				</article>
				{% endfor %}
		</div>
		<p><a href="/video/">See more Video Recipes &rArr;</a>
		</p>
	</section>
</div>

<section class="section-Intro">
	<div class="bottomBillboard">
		<div class="bottomBillboard-image" style="background-image: url(/static/images/sindi-kalan.jpg)"></div>
	</div>
	<div class="bottomBillboard-content">
		<h2>Mabuhay! Welcome po kayo sa Ulampinoy 👋🏼</h2>
		<p>Ang Ulampinoy ay koleksyon online ng aming <a href="/video/">mga lutung-bahay recipes</a>. Kasama rin ang <a
				href="/blog/">aming blog</a> kung saan ibinabahagi naming adbentyur sa pagkain at ang iba't-iba pang mga
			bagay na aming natutuklasan, natututuhan at sa paanuman ay kapakipakinabang sa amin.</p>
	</div>
	<div class="bottomBillboard-imageSW">
		<img class="" src="static/images/sindi-kalan.jpg" alt="">

	</div>
</section>
