---
layout: layouts/base.njk
section: home
---

<section class="section-Intro">
	{{ layoutContent | safe }}
</section>

<div class="grid grid-Home">
	<section>
		<h2>Bago sa Blog</h2>
		<div class="grid grid-column__half grid-gap__normal">
			{% set postlist = collections.posts | reverse %}
			{% for post in postlist.slice(0,4) %}
				<article{% if post.url == url %} data-current="current item"{% endif %} class="article-card">
					<div class="article-card__cover">
						<a href="{{ post.url | url }}">
							<img class="cover-image" src="{{ post.data.coverImage }}" />
						</a>
					</div>
					<div class="article-card__copy">
						<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>				
						<p>{{ post.data.description }}</p>
					</div>
				</article>
			{% endfor %}
		</div>
	<a href="/video/">See all posts</a>
	</section>

	<section class="glossary-list">
		<h2>Talasalitaan</h2>
		<ul>
			{% set glossary = collections.glossary | sort('title') %}
			{% for post in glossary.slice(0,5) %}
			<li>
				<a href="{{ post.url | url }}">
					<div>{{ post.data.title }}</div>
				</a>
			</li>
			{%- endfor -%}
		<ul>
	</section>

	<section class="section-Videos">
		<h2>Cook-along Video Recipes</h2>
		<div class="grid grid-column__third grid-gap__normal">
			{% set videolist = collections.video | reverse %}
			{% for post in videolist.slice(0,6) %}
				<article{% if post.url == url %} data-current="current item"{% endif %} class="article-card">
					<div class="article-card__cover">
						<a href="{{ post.url | url }}">
							<img src="{{ post.data.coverImage }}" />
						</a>
					</div>
					<div class="article-card__copy">
						<h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>				
						<p>{{ post.data.description }}</p>
					</div>
				</article>
			{% endfor %}
			<a href="/video/">See all videos</a>
		</div>
	</section>
</div>