---
layout: layouts/base.njk
section: search
permalink: /search/index.html
---

<article class="article-post">
    <div class="article-post-wrapper grid">
        <header class="pamilya">
            <h1>Search</h1>
        </header>
        <section>
            <div class="search">
                <script async src="https://cse.google.com/cse.js?cx=013349693126664855856:k55irdoxnnn"></script>
                <div class="gcse-search"></div>
            </div>
        </section>
    </div>
</article