---
layout: layouts/base.njk
section: video
---

<div class="billboard">
  <img src="{{ coverImage }}" />
</div>

<article class="article-post">
  <header class="article-header">
  <h1>{{ title }}</h1>
  </header>
  {{ layoutContent | safe }}

  {% if tags %}
    <p class="tags">
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
  <p>
    <small> 
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Video index</a>
</nav>
