---
layout: layouts/base.njk
section: video
permalink: /video/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set videoslist = collections.videos %}
{% include "components/videoslist.njk" %}
