---
layout: layouts/base.njk
section: video
---

<article class="article-post grid">
  <div class="billboard video-box">
    <iframe id="ytplayer" type="text/html" width="800" height="450" src="https://www.youtube.com/embed/{{ youtube }}"
      frameborder="0" allowfullscreen>
  </div>
  <div class="article-post-wrapper grid">
    <header>
      <h1>{{ title }}</h1>
    </header>
    <section>
      {{ layoutContent | safe }}
    </section>

    <aside>
      {% if sideNote %}
      <div class="aside-wrapper">
        <h4>Alam mo ba?</h4>
        <p>
          {{ sideNote }}
        </p>
        {% if sideImage %}
        <img src="{{ sideImage }}" />
        {% endif %}
      </div>
      {% endif %}
    </aside>

    <div class="article-meta">
      {% if tags %}
      <p class="tags">
        {% for tag in tags %}
        {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
      </p>
      {% endif %}

      <p>
        <small>
          <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
        </small>
      </p>
      <p class="goto">
        <a href="{{ '/video/' | url }}">← Balik sa lahat ng videos</a>
      </p>
    </div>
  </div>
</article>